---
- name: Create ~/.ssh folder
  file: path=~/.ssh state=directory

- name: Copy private ssh keys
  copy: >
    src="~/Dropbox/Config/ssh/{{item}}"
    dest="~/.ssh/{{item}}"
    mode=0400
  with_items:
    - github_rsa
    - id_rsa.bawbgale
    - id_rsa.codeship
    - id_rsa.placeplayhood
    - id_rsa.pressok

- name: Copy public ssh keys
  copy: >
    src="~/Dropbox/Config/ssh/{{item}}.pub"
    dest="~/.ssh/{{item}}.pub"
    mode=0444
  with_items:
    - github_rsa
    - id_rsa.bawbgale
    - id_rsa.codeship
    - id_rsa.placeplayhood
    - id_rsa.pressok

