---
- name: Install base OS X packages
  homebrew:
    name: "{{item}}"
    update_homebrew: yes
    upgrade_all: yes
    state: latest
  with_items:
    - qt
    - ffmpeg

- name: Install base OS X apps
  homebrew_cask:
    name: "{{item}}"
    state: present
  with_items:
    - 1password
    - crashplan
    - dropbox
    - flowdock
    - forklift
    - google-chrome
    - google-drive
    - iterm2
    - slack
    - skitch
    - skype
    - sqlworkbenchj
    - sublime-text
    - tableau
    - textmate
    - transmit
    - typora
    - qlcolorcode
    - qlmarkdown
    - quicklook-json
